default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit]
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: check-added-large-files
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: go-fmt-check
        name: go fmt check
        entry: just fmt-check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: ci-check
        name: ci-check
        entry: just ci-check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

      - id: nix-build-check
        name: nix build package set
        entry: just nix-build
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]
